[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
pycryptodome = "==3.4.3"
pycryptodomex = "*"
pycrypto = "*"

[requires]
python_version = "3.7"
